@charset "utf-8";
body{background:#fff !important;}
.wrapper{width:100%;height:auto;word-break:keep-all;overflow:hidden;min-width:1600px;}

/*상단영역*/
header{width:100%;height:75px;overflow:hidden;background:#000;position:absolute;left:0;top:55px;z-index:90;}
header .rela{width:1150px;height:75px;overflow:hidden;margin:0 auto;display:flex;justify-content:flex-start;align-items:center;}
header .rela h1{}
header .rela h1 a{}
header .rela .gnb-box{width:100%;flex:1;margin-left:60px;display:flex;justify-content:flex-start;align-items:center;}
header .rela .gnb-box .gnb-list{display:flex;justify-content:flex-start;align-items:center;}
header .rela .gnb-box .gnb-list li{display:flex;justify-content:flex-start;align-items:center;}
header .rela .gnb-box .gnb-list li + li{margin-left:25px;}
header .rela .gnb-box .gnb-list li a{letter-spacing: 0.42px;font-size:14px;font-family: 'Poppins';font-weight:500;color:#fff;}
header .rela .gnb-box .gnb-list li a.on{color:#FFBA00;}
header .rela .side-cont{display:flex;justify-content:flex-start;align-items:center;}
header .rela .side-cont .btn-point{display:flex;justify-content:flex-start;align-items:center;}
header .rela .side-cont .btn-point .upic{display:flex;width:20px;height:20px;overflow:hidden;border-radius:50%;background-size:cover !important;}
header .rela .side-cont .btn-point .upoint{display:flex;font-size:12px;color:#FEFEFE;margin-left:6px;font-family: 'Noto Sans KR';font-weight:500;}
header .rela .side-cont .btn-charge{display:flex;justify-content:center;align-items:center;margin-left:13px;width:34px;height:17px;overflow:hidden;border-radius:10px;border:1px solid #FFBA00;font-size:11px;color:#FFBA00;font-family: 'Noto Sans KR';font-weight:500;}
header .rela .side-cont .btn-logout{display:flex;margin-left:17px;font-size:12px;color:#FEFEFE;font-family: 'Noto Sans KR';font-weight:500;}

/*하단영역*/
footer{width:100%;height:414px;overflow:hidden;background:url(../image/bg/bg-footer.jpg) no-repeat left bottom;background-size:cover;}
footer .rela{width:1150px;height:auto;overflow:hidden;margin:0 auto;}
footer .rela .fnb-list{width:100%;height:auto;overflow:hidden;margin-top:18px;display:flex;justify-content:center;align-items:center;}
footer .rela .fnb-list li{display:flex;justify-content:center;align-items:center;padding:0 15px;position:relative;}
footer .rela .fnb-list li + li:before{content:"";width:1px;height:12px;overflow:hidden;display:block;background:#D5D5D5;position:absolute;left:0;top:50%;margin-top:-6px;}
footer .rela .fnb-list li a{font-size:14px;color:#D5D5D5;font-family: 'Noto Sans KR';font-weight:400;}
footer .rela .flogo{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:60px;}
footer .rela .sns-list{margin-top:24px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
footer .rela .sns-list li{display:flex;margin:0 8px;}
footer .rela .sns-list li a{}
footer .rela .finfo-list{max-width:530px;margin:0 auto;width:100%;height:auto;overflow:hidden;margin-top:54px;text-align:center;}
footer .rela .finfo-list li{font-size:12px;color:#D5D5D5;display:inline-flex;font-family: 'Noto Sans KR';font-weight:500;}
footer .rela .copy{width:100%;line-height:1.5em;height:auto;overflow:hidden;text-align:center;margin-top:8px;font-size:12px;color:#D5D5D5;font-family: 'Roboto';font-weight:400;}
footer .rela .copy strong{font-size:12px;color:#FFC900;font-family: 'Roboto';font-weight:bold;}

@-webkit-keyframes pulse {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 227, 0, .35);
        box-shadow: 0 0 0 0 rgba(250, 227, 0, .35);
    }

    70% {
        -webkit-box-shadow: 0 0 0 1.5em rgba(0, 227, 0, 0);
        box-shadow: 0 0 0 1.5em rgba(250, 227, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 227, 0, 0);
        box-shadow: 0 0 0 0 rgba(250, 227, 0, 0);
    }

}
/*컨텐츠영역*/
.container{width:100%;height:auto;overflow:hidden;}
.main-pencake-wrap{width:100%;height:auto;overflow:hidden;position:relative;}
.main-pencake-wrap .swiper-container{width:100%;padding-bottom:40px;}
.main-pencake-wrap .swiper-container .swiper-slide{width:100%;}
.main-pencake-wrap .swiper-container .swiper-slide .slide-item{width:100%;height:800px;background-size:cover !important;}
.main-pencake-wrap .swiper-container .swiper-pagination-bullet{background:#000;}
.main-pencake-wrap .swiper-container .swiper-pagination-bullet-active{background:#FFBA00;}
.main-pencake-wrap .scont{z-index:40;width:546px;height:auto;overflow:hidden;position:absolute;left:50%;bottom:0;margin-left:-273px;}
.main-pencake-wrap .scont .mtit{width:100%;height:auto;overflow:hidden;text-align:center;line-height:60px;font-size:46px;color:#fff;font-family: 'Poppins';}
.main-pencake-wrap .scont .mtit strong{color:#FFBA00;font-size:46px;font-family: 'Poppins';}
.main-pencake-wrap .scont .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;line-height:26px;font-size:19px;color:#fff;font-family: 'Poppins';font-weight:300;}
.main-pencake-wrap .scont .form-item-wrap{margin-top:44px;width:100%;height:42px;border-radius:21px;background:#fff;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-pencake-wrap .scont .form-item-wrap .inp{padding-left:43px;font-size:12px;color:#333;width:100%;height:42px;border:0;border-top-left-radius:21px;border-bottom-left-radius:21px;flex:1;}
.main-pencake-wrap .scont .form-item-wrap button{font-size:11px;color:#000000;width:133px;height:42px;border:0;padding:0;background:#FFBA00;display:flex;justify-content:center;align-items:center;border-top-right-radius:21px;border-bottom-right-radius:21px;}
.main-pencake-wrap .scroll-down{padding-bottom:82px;width:100%;height:auto;overflow:hidden;text-align:center;margin-top:175px;}

.main-whoweare-wrap{width:1150px;height:auto;overflow:hidden;margin:67px auto 120px auto;background:url(../image/bg/bg-ai.jpg) no-repeat right top;}
.main-whoweare-wrap .mcate{width:100%;height:auto;overflow:hidden;margin-top:32px;line-height:55px;font-size:18px;color:#767676;text-decoration:underline;}
.main-whoweare-wrap .mtit{width:100%;height:auto;overflow:hidden;margin-top:30px;font-size:30px;line-height:42px;color:#333333;font-family: 'Poppins';font-weight:300;}
.main-whoweare-wrap .mtit strong{line-height:42px;color:#333333;font-family: 'Poppins';}
.main-whoweare-wrap .mdesc{margin-top:11px;width:100%;height:auto;overflow:hidden;font-size:16px;color:#666666;font-family: 'Roboto','Poppins';line-height:28px;}
.main-whoweare-wrap button{margin-top:102px;width:209px;height:55px;overflow:hidden;border:0;border-radius:30px;background:#FFBA00;padding:0;display:flex;justify-content:center;align-items:center;font-size:15px;color:#000000;font-family: 'Poppins';}
.main-whoweare-wrap ul{margin-top:116px;gap:30px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.main-whoweare-wrap ul li{width:100%;height:231px;overflow:hidden;flex:1;}
.main-whoweare-wrap ul li a{border-radius:5px;background:rgba(0,0,0,.85);width:100%;height:231px;overflow:hidden;display:flex;justify-content:center;align-items:center;flex-direction: column}
.main-whoweare-wrap ul li a .sico{width:100%;height:auto;overflow:hidden;text-align:center;}
.main-whoweare-wrap ul li a .sname{width:100%;height:auto;overflow:hidden;text-align:center;font-size:14px;color:#fff;font-family: 'Poppins';margin-top:19px;line-height:20px;}
.main-whoweare-wrap ul li a .scate{margin-top:5px;width:100%;height:auto;overflow:hidden;text-align:center;font-weight:300;font-size:11px;color:#fff;font-family: 'Poppins';}

.main-services-wrap{padding-top:92px;padding-bottom:92px;width:100%;height:auto;overflow:hidden;background:#000000;}
.main-services-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:36px;color:#fff;font-family: 'Poppins';}
.main-services-wrap .mtit strong{font-size:36px;color:#FFBA00;font-family: 'Poppins';font-weight:bold;}
.main-services-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;font-size:15px;color:#fff;font-family: 'Poppins';}
.main-services-wrap ul{max-width:1150px;width:100%;height:auto;overflow:hidden;margin:59px auto 0 auto;}
.main-services-wrap ul li{width:343px;height:110px;overflow:hidden;margin:0 20px 0 20px;float:left;display:flex;justify-content:flex-start;align-items:flex-start;}
.main-services-wrap ul li .lt-item{width:80px;height:110px;overflow:hidden;position:relative;}
.main-services-wrap ul li .lt-item .sico{width:100%;height:auto;overflow:hidden;}
.main-services-wrap ul li .lt-item .snum{position:absolute;left:0;bottom:0;font-family: 'Poppins';font-size:35px;color:#fff;line-height:49px;}
.main-services-wrap ul li .rt-item{width:100%;flex:1;height:110px;overflow:hidden;}
.main-services-wrap ul li .rt-item .stit{width:100%;height:auto;overflow:hidden;font-size:14px;color:#FFBA00;font-family: 'Poppins';line-height:19px;}
.main-services-wrap ul li .rt-item .sdesc{width:100%;height:auto;overflow:hidden;font-size:12px;color:#fff;font-family: 'Roboto', 'Poppins';margin-top:17px;line-height:20px;}
.main-services-wrap ul li:nth-child(4),
.main-services-wrap ul li:nth-child(5),
.main-services-wrap ul li:nth-child(6){margin-top:78px;}

.main-generation-wrap{width:100%;height:211px;overflow:hidden;background:url(../image/bg/bg-main-generation.jpg) repeat-x center top;display:flex;justify-content:center;align-items:center;}
.main-generation-wrap .rela{margin:0 auto;max-width:1150px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-generation-wrap .rela img{display:flex;}
.main-generation-wrap .rela strong{display:flex;margin-left:10px;font-size:21px;color:#FFBA00;font-family: 'Poppins';font-weight:400;}
.main-generation-wrap .rela span{display:flex;margin-left:5px;font-size:21px;color:#fff;font-family: 'Poppins';}

.main-library-wrap{width:100%;height:auto;padding:120px 0;overflow:hidden;}
.main-library-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;line-height:55px;font-size:40px;color:#333333;font-family: 'Poppins';}
.main-library-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;font-size:15px;color:#666666;font-weight:300;font-family: 'Poppins';}
.main-library-wrap .swiper-container{width:100%;margin-top:80px;}
.main-library-wrap .swiper-container .swiper-slide{width:492px;}
.main-library-wrap .swiper-container .swiper-slide a{display:block;width:100%;height:495px;overflow:hidden;position:relative;opacity:.8;transition:all .5s;}
.main-library-wrap .swiper-container .swiper-slide .slide-item{width:100%;height:352px;overflow:hidden;background-size:cover !important;}
.main-library-wrap .swiper-container .swiper-slide .cont{width:calc( 100% - 64px - 31px );padding-left:31px;left:32px;bottom:0;position:absolute;height:213px;overflow:hidden;transition:all .5s;opacity:0;transform:translateY(20px);}
.main-library-wrap .swiper-container .swiper-slide .cont:before{content:"";width:11px;height:213px;overflow:hidden;display:block;background:#FFBF00;position:absolute;left:0;top:0;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo{margin-top:100px;width:100%;height:auto;overflow:Hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .upic{width:46px;height:46px;overflow:Hidden;border-radius:50%;background-size:cover !important;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .ucont{margin-left:8px;width:100%;height:auto;overflow:hidden;flex:1;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .ucont .umail{width:100%;height:auto;overflow:hidden;font-size:17px;color:#333333;font-family: 'Poppins';}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .ucont .udate{font-size:15px;color:#FFBF00;margin-top:4px;font-weight:300;width:100%;height:auto;overflow:hidden;font-family: 'Poppins';}
.main-library-wrap .swiper-container .swiper-slide .cont .desc{margin-top:10px;font-family: 'Poppins';width:100%;height:auto;overflow:Hidden;font-size:26px;color:#333333;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;}

.main-library-wrap .swiper-container .swiper-slide a:hover{opacity:1;}
.main-library-wrap .swiper-container .swiper-slide a:hover .cont{opacity:1;transform:translateY(0px);}

.main-recent-wrap{padding-top:115px;width:100%;height:auto;overflow:hidden;background:#000000;}
.main-recent-wrap .mtit{line-height:56px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:40px;color:#fff;font-family: 'Poppins';}
.main-recent-wrap .mtit strong{font-size:40px;color:#fff;font-family: 'Poppins';font-weight:bold;}
.main-recent-wrap ul{max-width:1505px;width:calc( 100% + 10px );height:auto;overflow:hidden;margin:98px auto auto;}
.main-recent-wrap ul li{float:left;width:291px;height:307px;overflow:Hidden;margin:10px 5px 0 5px;backgroud:#555555;}
.main-recent-wrap ul li a{width:291px;height:307px;overflow:Hidden;display:block;background-size:cover !important;}
.main-recent-wrap .btn-item-wrap{width:100%;height:auto;overflow:hidden;padding:72px 0 68px 0;display:flex;justify-content:center;align-items:center;}
.main-recent-wrap .btn-item-wrap button{display:flex;justify-content:center;align-items:center;border:0;width:237px;height:60px;border-radius:30px;background:#FFBA00;padding:0;font-size:14px;color:#000000;font-family: 'Poppins';}

.main-start-wrap{width:100%;height:211px;overflow:hidden;background:url(../image/bg/bg-main-start.jpg) repeat-x center top;display:flex;justify-content:center;align-items:center;}
.main-start-wrap .rela{width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.main-start-wrap .rela .sitem{width:600px;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-start-wrap .rela .sitem img{display:flex;}
.main-start-wrap .rela .sitem strong{display:flex;margin-left:10px;font-size:21px;color:#fff;font-family: 'Poppins';font-weight:bold;}
.main-start-wrap .rela .sitem span{display:flex;margin-left:5px;font-size:21px;color:#fff;font-family: 'Poppins';}
.main-start-wrap .rela button{display:flex;justify-content:center;align-items:center;width:160px;height:43px;overflow:hidden;border-radius:22px;border:1px solid #000000;background:#fff;padding:0;font-size:14px;color:#000000;font-family: 'Poppins';}

.main-contact-wrap{width:100%;height:auto;overflow:hidden;padding:94px 0 100px 0;}
.main-contact-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;line-height:39px;font-size:28px;color:#333333;font-family: 'Poppins';}
.main-contact-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:13px;line-height:19px;font-size:14px;color:#666666;font-family: 'Noto Sans KR';}
.main-contact-wrap .form-item-wrap{border-bottom:1px solid #ccc;width:791px;height:32px;overflow:hidden;margin:33px auto 0 auto;display:flex;justify-content:flex-start;align-items:flex-start;}
.main-contact-wrap .form-item-wrap .inp{border:0;width:100%;flex:1;height:32px;overflow:hidden;font-size:14px;color:#333;padding:0 9px;}
.main-contact-wrap .form-item-wrap button{width:40px;height:20px;border:0;background:transparent;padding:0;display:flex;justify-content:flex-start;align-items:center;}

.wrapper.sub header{top:0;}

.sub-header-wrap{padding-top:130px;width:1442px;height:auto;overflow:hidden;margin:0 auto;border-bottom:1px solid #000;padding-bottom:55px;}
.sub-header-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-family: 'Poppins';font-size:40px;color:#000;line-height:55px;}
.sub-header-wrap .mtit strong{font-family: 'Poppins';font-size:40px;color:#000;font-weight:bold;}
.sub-header-wrap ul{width:800px;height:47px;overflow:hidden;border:2px solid #000000;margin:20px auto 0 auto;background:#fff;display:flex;justify-content:flex-start;align-items:center;}
.sub-header-wrap ul li{width:100%;height:47px;overflow:Hidden;display:flex;justify-content:center;align-items:center;flex:1;position:relative;}
.sub-header-wrap ul li + li:before{content:"";width:2px;height:100%;overflow:hidden;display:block;background:#000;position:absolute;left:0;top:0;}
.sub-header-wrap ul li a{width:100%;height:47px;overflow:Hidden;display:flex;justify-content:center;align-items:center;font-size:14px;color:#000000;font-family: 'Poppins';}
.sub-header-wrap ul li a.on{font-weight:bold;color:#fff;background:#000;}
.sub-header-wrap .mdesc{margin-top:27px;line-height:22px;font-size:14px;color:#000;font-weight:300;width:100%;height:auto;overflow:hidden;text-align:center;font-family: 'Poppins';}

.list-page-wrap{position:relative;width:1442px;height:auto;overflow:hidden;margin:15px auto 0 auto;display:flex;justify-content:flex-start;align-items:flex-start;}
.list-page-wrap:before{content:"";width:1px;height:100%;overflow:hidden;display:block;background:#000;position:absolute;left:348px;top:15px;}
.list-page-wrap .lt-item{width:252px;height:auto;padding:0px 43px 40px 43px;}
.list-page-wrap .lt-item .label{display:flex;justify-content:flex-start;align-items:center;margin-top:20px;width:100%;height:auto;font-size:16px;color:#000000;text-decoration:underline;line-height:55px;}


.list-page-wrap .lt-item .label input[type=checkbox]{margin-left:10px;appearance: none;-moz-appearance: none;-webkit-appearance: none;transition:all .5s;width:32px;height:15px;border-radius:12px;background:#000;position:relative;}
.list-page-wrap .lt-item .label input[type=checkbox]:before{content:"";display:block;width:11px;height:11px;overflow:hidden;border-radius:50%;background:#fff;position:absolute;left:2px;top:2px;transition:all .5s;}
.list-page-wrap .lt-item .label input[type=checkbox]:checked{background:#555;}
.list-page-wrap .lt-item .label input[type=checkbox]:checked:before{left:18px;}

.list-page-wrap .lt-item .rd-list{width:100%;height:auto;overflow:hidden;}
.list-page-wrap .lt-item .rd-list li{margin-top:10px;width:25%;float:left;height:auto;overflow:hidden;}
.list-page-wrap .lt-item .rd-list li label{display:flex;justify-content:flex-start;align-items:center;}
.list-page-wrap .lt-item .rd-list li label input{display:flex;}

.list-page-wrap .lt-item .rd-list li label input[type=radio]{outline:none;float:left;background:url(../image/bg/bg-radio-off.svg) no-repeat;background-size:18px 18px;border:0;width:18px;height:18px;overflow:hidden;appearance: none;-moz-appearance: none;-webkit-appearance: none;}
.list-page-wrap .lt-item .rd-list li label input[type=radio]:checked{width:18px;height:18px;background:url(../image/bg/bg-radio-on.svg) no-repeat;background-size:18px 18px;}
.list-page-wrap .lt-item .rd-list li label input[type=radio]::-ms-check{border:0;outline:none;appearance: none;-moz-appearance: none;-webkit-appearance: none;width:18px;height:18px;content:"";background:url(../image/bg/bg-radio-off.svg) no-repeat;background-size:18px 18px;}
.list-page-wrap .lt-item .rd-list li label input[type=radio]:checked::-ms-check{color:transparent;background:url(../image/bg/bg-radio-on.svg) no-repeat;background-size:18px 18px;}



.list-page-wrap .lt-item .rd-list li label span{display:flex;margin-left:10px;font-size:14px;color:#000000;font-weight:300;font-family: 'Poppins';}
.list-page-wrap .lt-item .stit{margin-top:15px;width:100%;height:auto;overflow:hidden;font-size:12px;color:#000000;font-family: 'Poppins';font-weight:300;}
.list-page-wrap .lt-item .chk-btn-wrap{gap:10px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.list-page-wrap .lt-item .chk-btn-wrap button{display:flex;justify-content:center;align-items:center;width:100%;flex:1;height:38px;border:2px solid #000;border-radius:6px;background:#fff;font-size:14px;color:#000000;font-family: 'Poppins';font-weight:300;}
.list-page-wrap .lt-item .chk-btn-wrap button.on{background:#000;color:#fff;}
.list-page-wrap .lt-item .chk-btn-wrap + .chk-btn-wrap{margin-top:7px;}


.list-page-wrap .rt-item{width:100%;flex:1;height:auto;overflow:hidden;padding:20px 43px 40px 43px;}

.list-page-wrap .rt-item .label{display:flex;justify-content:flex-start;align-items:center;margin-top:20px;width:100%;height:auto;font-size:16px;color:#000000;text-decoration:underline;line-height:23px;}
.list-page-wrap .rt-item .form-item-wrap{width:100%;height:auto;overflow:hidden;margin-top:17px;display:flex;justify-content:flex-start;align-items:center;}
.list-page-wrap .rt-item .form-item-wrap .select{font-size:12px;color:#000;font-family: 'Noto Sans KR';width:337px;height:45px;border:2px solid #000;border-radius:6px;padding-left:16px;}
.list-page-wrap .rt-item .form-item-wrap .textarea{font-size:14px;color:#000;font-family: 'Noto Sans KR';width:100%;flex:1;height:calc( 62px - 28px );border:2px solid #000;border-radius:6px;padding:13px 16px;}
.list-page-wrap .rt-item .form-item-wrap button{margin-left:4px;width:129px;height:62px;overflow:hidden;border:2px solid #000;background:#FFBF00;padding:0;border-radius:6px;display:flex;justify-content:center;align-items:center;font-size:14px;color:#000000;font-family: 'Poppins';}
.list-page-wrap .rt-item .chk-item-wrap{margin-top:17px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.list-page-wrap .rt-item .chk-item-wrap input{}


.list-page-wrap .rt-item .chk-item-wrap input[type=checkbox]{appearance: none;-moz-appearance: none;-webkit-appearance: none;transition:all .5s;width:32px;height:15px;border-radius:12px;background:#000;position:relative;}
.list-page-wrap .rt-item .chk-item-wrap input[type=checkbox]:before{content:"";display:block;width:11px;height:11px;overflow:hidden;border-radius:50%;background:#fff;position:absolute;left:2px;top:2px;transition:all .5s;}
.list-page-wrap .rt-item .chk-item-wrap input[type=checkbox]:checked{background:#555;}
.list-page-wrap .rt-item .chk-item-wrap input[type=checkbox]:checked:before{left:18px;}

.list-page-wrap .rt-item .chk-item-wrap span{display:flex;margin-left:8px;font-size:12px;color:#000000;font-family: 'Poppins';}
.list-page-wrap .rt-item .chk-item-wrap + .chk-item-wrap{margin-top:8px;}

.list-page-wrap .rt-item .ai-image-wrap{width:100%;height:auto;overflow:hidden;margin-top:30px;border-top:1px solid #000000;}
.list-page-wrap .rt-item .ai-image-wrap .ai-header{margin-top:20px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.list-page-wrap .rt-item .ai-image-wrap .ai-header .mdesc{display:flex;font-size:14px;color:#000000;font-family: 'Poppins';}
.list-page-wrap .rt-item .ai-image-wrap .ai-header .side-btn-wrap{display:flex;justify-content:flex-start;align-items:center;}
.list-page-wrap .rt-item .ai-image-wrap .ai-header .side-btn-wrap span{display:flex;font-size:14px;color:#9D9D9D;font-family: 'Poppins';font-weight:300;}
.list-page-wrap .rt-item .ai-image-wrap .ai-header .side-btn-wrap button{display:flex;margin-left:8px;width:24px;height:24px;overflow:hidden;border:0;background:transparent;padding:0;justify-content:center;align-items:center;}
.list-page-wrap .rt-item .ai-image-wrap ul{margin-top:14px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;gap:10px;}
.list-page-wrap .rt-item .ai-image-wrap ul li{width:100%;flex:1;height:auto;overflow:hidden;}
.list-page-wrap .rt-item .ai-image-wrap ul li a{display:block;width:100%;height:248px;overflow:hidden;background:#555555;background-size:cover !important;}


.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}
.ui-widget.ui-widget-content{background:#3f3f46 !important;height:12px;border-radius:6px;}
.ui-slider-horizontal {
    height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.ui-widget.ui-widget-content{overflow:visible !important;height:3px !important;}
.slide-item-wrap .ui-slider-horizontal{height:4px;border-radius:2px;}
.slide-item-wrap .ui-slider-horizontal .ui-slider-range{height:3px !important;top:-1px;border-radius:6px;}
.slide-item-wrap .ui-slider-horizontal .ui-slider-handle{outline:none;margin-left:-.5em !important;top:-13px !important;border-radius:0;width:18px !important;height:30px !important;background:url(../image/bg/bg-slider.svg) no-repeat;}
.slide-item-wrap .ui-slider{background:#000;}

.ui-widget.ui-widget-content{margin-left:0px;}

.output-item-wrap{margin-top:10px;width:100%;height:auto;display:flex;justify-content:flex-start;align-items:center;}
.output-item-wrap .slide-item-wrap{width:100%;flex:1;}
.output-item-wrap .slide-value-wrap{padding-bottom:5px;margin-left:13px;width:86px;border-bottom:1px solid #707070;position:relative;display:flex;justify-content:center;align-items:center;}
.output-item-wrap .slide-value-wrap.full{margin-left:0;width:100%;}
.output-item-wrap .slide-value-wrap .value{font-size:12px;color:#797979;font-family: 'Poppins';}
.output-item-wrap .slide-value-wrap .unit{position:absolute;right:0;bottom:5px;font-size:12px;color:#797979;font-family: 'Poppins';}
.output-item-wrap .file-item-wrap{cursor:pointer;width:calc( 100% - 4px );height:106px;overflow:hidden;border:2px solid #000;border-radius:6px;display:flex;justify-content:center;align-items:center;flex-direction: column}
.output-item-wrap .file-item-wrap input{position:absolute;left:-10000px;top:-20000px;}
.output-item-wrap .file-item-wrap img{}
.output-item-wrap .file-item-wrap span{margin-top:10px;display:block;text-align:center;font-size:12px;color:#000000;line-height:16px;font-family: 'Poppins';font-weight:300;}
.output-item-wrap .file-item-wrap span strong{font-size:12px;color:#000000;font-family: 'Poppins';font-weight:500;}


.tooltip{top:3px;margin-left:8px;position:relative;z-index:31;}
.tooltip .tooltip-item-wrap{position:absolute;width:252px;margin:-15px 0 0 10px;z-index:31;padding:12px 32px 12px 12px;height:auto;background:#fff;border-radius:12px;border:1px solid #ccc;display:none;justify-content:flex-start;align-items:center;text-align:left;}
.tooltip .tooltip-item-wrap:before{content:"";width:10px;height:22px;overflow:hidden;display:block;background:url(../image/bg/bg-moseri.svg) no-repeat;position:absolute;left:-9px;top:50%;margin-top:-11px;}

.tooltip:hover .tooltip-item-wrap{display:inline-flex;}

.model-page-wrap{width:1442px;height:auto;overflow:hidden;border-top:1px solid #000000;margin:0 auto;}
.model-page-wrap .status-list{width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.model-page-wrap .status-list li{width:173px;margin:0 20px;display:flex;justify-content:center;align-items:center;}
.model-page-wrap .status-list li a{width:100%;height:auto;overflow:hidden;padding-top:10px;font-size:14px;font-family: 'Poppins';color:#A5A5A5;display:flex;justify-content:center;align-items:center;border-top:7px solid #A5A5A5;}
.model-page-wrap .status-list li a.on{color:#000000;border-top:7px solid #000000;}
.model-page-wrap .btn-item-wrap{width:100%;height:auto;overflow:hidden;margin-top:64px;display:flex;justify-content:center;align-items:center;}
.model-page-wrap .btn-item-wrap button{margin:0 20px;display:flex;justify-content:center;align-items:center;width:230px;height:48px;border-radius:6px;border:2px solid #000000;background:#fff;padding:0;font-size:14px;color:#000000;font-family: 'Poppins';font-weight:500;}
.model-page-wrap .btn-item-wrap button.on{background:#FFBA00;}
.model-page-wrap .msg{width:100%;height:auto;overflow:hidden;text-align:center;padding:108px 0;font-size:16px;color:#A3A3A3;font-family: 'Poppins';}

.dialog{position:fixed;left:0;top:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.5);z-index:90;display:none;justify-content:center;align-items:center;}
.dialog.on{display:flex;}
.dialog .pop-item-wrap{border-radius:6px;width:calc( 864px - 106px );padding:0 53px 32px 53px;height:auto;overflow:hidden;background: rgba(255,255,255,.85);
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #707070;
    opacity: 1;
    backdrop-filter: blur(9px);position:relative;
    }
.dialog .pop-item-wrap h1{width:100%;height:auto;overflow:hidden;text-align:center;padding-top:44px;line-height:20px;font-size:24px;color:#000000;font-family: 'Poppins';}
.dialog .pop-item-wrap h1 strong{font-size:24px;color:#000000;font-family: 'Poppins';font-weight:bold;}
.dialog .pop-item-wrap a.btn-pop-close{width:20px;height:20px;overflow:hidden;position:absolute;right:20px;top:20px;display:flex;justify-content:center;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap{width:100%;height:auto;margin-top:35px;display:flex;justify-content:space-between;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap + .form-row-wrap{margin-top:19px;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap{width:calc( 50% - 10px );display:flex;justify-content:flex-start;align-items:flex-start;flex-direction: column;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .label{font-size:14px;color:#000000;text-decoration:underline;width:100%;height:auto;display:flex;justify-content:flex-start;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap{margin-top:9px;width:100%;height:auto;display:flex;justify-content:flex-start;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap .inp{width:100%;flex:1;padding:0 10px;height:32px;border:1px solid #000;border-radius:6px;background:#fff;font-size:14px;color:#000;font-family: 'Poppins';}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap .select{width:100%;flex:1;padding:0 10px;height:34px;border:1px solid #000;border-radius:6px;background:#fff url(../image/ico/ico-select01.svg) no-repeat right center;font-size:14px;color:#000;font-family: 'Poppins';}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap{}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap .textrea-wrap{padding:8px 12px;width:calc( 100% - 2px - 24px );height:82px;border-radius:6px;overflow:hidden;border:1px solid #000;background:#fff;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap .textrea-wrap.t01{height:239px;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap .textrea-wrap .textarea{width:100%;height:63px;overflow:hidden;border:0;background:transparent;resize:none;font-size:14px;color:#000;font-family: 'Poppins';}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .form-item-wrap .textrea-wrap .cnt{width:100%;height:auto;overflow:hidden;text-align:right;font-size:10px;color:#8D8D8D;font-family: 'Poppins';}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .btn-item-wrap{margin-top:9px;width:100%;height:auto;display:flex;justify-content:flex-end;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .btn-item-wrap a{display:flex;justify-content:flex-start;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .btn-item-wrap a img{display:flex;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .btn-item-wrap a span{display:flex;margin-left:2px;font-size:12px;color:#000;font-family: 'Poppins';font-weight:500;}

.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .training-item-wrap{margin-top:22px;width:100%;height:auto;display:flex;justify-content:flex-end;align-items:center;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .training-item-wrap a{width:147px;height:37px;border-radius:6px;border:2px solid #000;background:#FFBA00;display:flex;justify-content:center;align-items:center;padding:0;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .training-item-wrap a img{display:flex;}
.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap .training-item-wrap a span{margin-left:6px;display:flex;margin-left:2px;font-size:12px;color:#000;font-family: 'Poppins';font-weight:500;}

.dialog .pop-item-wrap .form-row-wrap .form-cols-wrap.full{width:100%;}
.dialog .pop-item-wrap .form-row-wrap.t01{margin-top:0;}
