@charset "utf-8";
body{background:#fff !important;}
.wrapper{width:100%;height:auto;word-break:keep-all;overflow:hidden;}
.wrapper.sub{}
/*상단영역*/
header{z-index:50;transition:all .5s;width:100%;height:auto;position:fixed;left:0;top:0;}
header .rela{z-index:50;border-bottom: 1px solid rgba(255, 255, 255, 0.16);margin:0 auto;transition:all .5s;width:100%;height:94px;position:relative;display:flex;justify-content:flex-start;align-items:center;}
header .rela h1{margin-left:100px;transition:all .5s;width:114px;height:auto;overflow:hidden;}
header .rela h1 img{transition:all .5s;opacity:1;}
header .rela .gnb-box{z-index:10;height:auto;display:flex;justify-content:flex-start;align-items:center;width:100%;flex:1;}
header .gnb-list{width:100%;flex:1;display:flex;justify-content:center;align-items:center;}
header .gnb-list>li{float:left;position:relative;}
header .gnb-list>li>a{transition:all .5s;position:relative;text-decoration:none !important;font-size:17px;color:#fff;font-weight:700;display:flex;justify-content:center;align-items:center;height:94px;padding:0 40px;}

header.view-type .rela{background:#fff !important;}
header.view-type .gnb-list>li>a{color:#000;}
header.view-type .side-cont .btn-link-shop span{color:#000;}


/*메뉴 오버시*/
header.over:before{opacity:1;transform:translateY(0px)}
header.active .rela{background:#105B4E;border-bottom:.5px solid #C3C3C3}

/*전체메뉴*/
.totalmenu-wrap{transition:all .5s;transform:translateY(-500px);opacity:0;position:fixed;left:0;top:0;width:100%;height:453px;overflow:hidden;background:#105B4E}
.totalmenu-wrap.on{transform:translateY(0px);opacity:1;}
.totalmenu-wrap .rela01{padding-top:120px;width:100%;height:auto;overflow:hidden;}
.totalmenu-wrap .rela01>ul{width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:flex-start;}
.totalmenu-wrap .rela01>ul>li{width:150px;height:auto;overflow:hidden;}
.totalmenu-wrap .rela01>ul>li>a{width:calc( 100% - 30px );padding-left:30px;height:35px;display:none;justify-content:flex-start;align-items:center;position:relative;}
.totalmenu-wrap ul li a img{display:flex;position:absolute;left:0;top:5px;}
.totalmenu-wrap ul li a span{display:flex;font-size:20px;color:#91CE3E;font-weight:bold;}
.totalmenu-wrap ul li .sub-menu-wrap{width:calc( 100% - 35px );padding-left:35px;height:auto;overflow:hidden;}
.totalmenu-wrap ul li .sub-menu-wrap .sub-item{width:100%;height:auto;overflow:hidden;}
.totalmenu-wrap ul li .sub-menu-wrap .sub-item ul{width:100%;height:auto;overflow:hidden;}
.totalmenu-wrap ul li .sub-menu-wrap .sub-item ul li{margin-top:15px;width:100%;height:auto;overflow:hidden;}
.totalmenu-wrap ul li .sub-menu-wrap .sub-item ul li a{letter-spacing:-1px;font-size:16px;color:#FEFE34;font-weight:bold;}

.totalmenu-wrap .mob-header-wrap{display:none;}
.totalmenu-wrap .mob-login-wrap{display:none}

.container{position:relative;z-index:30;}

.hidden{position:absolute;left:-200000px;}

/*스크롤 기본 다운시*/

header.down{top:-120px}
header.down .totalmenu-wrap{transform:translateY(-500px);}
header.on .rela{height:0;}
header.up{top: 0}
/**/
header.up .rela{background:#105B4E;}



header .side-cont{margin-right:100px;z-index:999;display:flex;justify-content:flex-start;align-items:center;}
header .side-cont .btn-link-shop{display:flex;justify-content:flex-start;align-items:center;}
header .side-cont .btn-link-shop img{display:flex;margin-left:8px;}
header .side-cont .btn-link-shop span{display:flex;font-size:16px;color:#fff;font-weight:500;}

header .side-cont .btn-total-nav{background:transparent;position:relative;width:45px;height:45px;overflow:hidden;display:none;justify-content:flex-start;align-items:center;margin-left:25px;}
header .side-cont.on .btn-total-nav{background:url(../image/ico/ico-menu-close.svg) no-repeat center center;}
header .side-cont.on .btn-total-nav img{visibility:hidden;}

/*하단영역*/
footer{width:100%;height:auto;background:#242424;padding:40px 0 50px 0;position:relative;}
footer:before{content:"";width:100%;height:1px;overflow:hidden;display:block;background:#363636;position:absolute;left:0;top:113px;}
footer .rela{max-width:1400px;width:calc( 100% - 40px );margin:0 auto;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
footer .rela .lt-item{max-width:134px;}
footer .rela .lt-item img{width:100%;}
footer .rela .fnb-list{display:flex;justify-content:flex-start;align-items:center;}
footer .rela .fnb-list li{display:flex;padding:0 24px;position:relative;}
footer .rela .fnb-list li + li:before{content:"";width:3px;height:3px;overflow:hidden;display:block;background:#fff;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;}
footer .rela .fnb-list li:last-child{padding-right:0;}
footer .rela .fnb-list li a{font-size:16px;color:#fff;font-weight:600;}
footer .rela.t01 {margin-top:20px;padding-top:20px;}
footer .rela .finfo-list{width:450px;}
footer .rela .finfo-list li{margin-top:15px;float:left;padding-right:12px;margin-right:12px;position:relative;font-size:14px;color:#808080;}
footer .rela .finfo-list li:before{content:"";width:1px;height:14px;overflow:hidden;display:block;background:#616161;position:absolute;right:0;top:50%;margin-top:-7px;}
footer .rela .finfo-list li:nth-child(2):before,
footer .rela .finfo-list li:nth-child(5):before{display:none;}
footer .rela .copy{font-size:14px;color:#808080;margin-top:30px;}

@-webkit-keyframes pulse {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 227, 0, .35);
        box-shadow: 0 0 0 0 rgba(250, 227, 0, .35);
    }

    70% {
        -webkit-box-shadow: 0 0 0 1.5em rgba(0, 227, 0, 0);
        box-shadow: 0 0 0 1.5em rgba(250, 227, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 227, 0, 0);
        box-shadow: 0 0 0 0 rgba(250, 227, 0, 0);
    }

}
/*컨텐츠영역*/
.container{width:100%;height:auto;overflow:hidden;}
.section{width:100%;height:auto;position:relative;}

/*메인*/
.main-slide-wrap{position:relative;width:100%;height:auto;overflow:hidden;}
.main-slide-wrap .swiper-container{width:100%;}
.main-slide-wrap .swiper-container .swiper-slide{width:100%;position:relative;}
.main-slide-wrap .swiper-container .swiper-slide .slide-item{width:100%;height:820px;overflow:hidden;background-size:cover !important;}
.main-slide-wrap .swiper-container .swiper-slide .cont{width:100%;height:952px;overflow:hidden;position:absolute;left:0;top:0;}
.main-slide-wrap .swiper-container .swiper-slide  .tit{transition:all 2s;opacity:0;transform:translateX(-150px);font-size:60px;color:#fff;font-weight:800;width:100%;margin:0 auto;height:auto;overflow:hidden;margin-top:320px;text-align:center;line-height:76px;}
.main-slide-wrap .swiper-container .swiper-slide  .desc{line-height:26px;transition:all 2s;opacity:0;transform:translateX(150px);font-size:20px;color:#fff;width:1200px;margin:0 auto;height:auto;overflow:hidden;margin-top:20px;text-align:center;font-weight:600;}
.main-slide-wrap .swiper-container .swiper-pagination{width:240px;height:2px;overflow:hidden;background:rgba(255,255,255,.4);top:auto;bottom:76px;left:50%;margin-left:-580px;}
.main-slide-wrap .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#fff;}
.main-slide-wrap .pagination-cnt-wrap{z-index:20;position:absolute;bottom:67px;width:290px;height:20px;overflow:hidden;display:flex;justify-content:space-between;align-items:center;left:50%;margin-left:-600px;}
.main-slide-wrap .pagination-cnt-wrap span{font-size:14px;color:#fff;font-weight:bold;}
.main-slide-wrap .pagination-cnt-wrap strong{font-size:14px;color:#fff;}
.main-slide-wrap .swiper-container .swiper-slide.swiper-slide-active .tit{opacity:1;transform:translateX(0px);}
.main-slide-wrap .swiper-container .swiper-slide.swiper-slide-active .desc{opacity:1;transform:translateX(0px);}

.main-slide-ctrl{width:calc( 100% - 240px );top:50%;left:120px;margin-top:-50px;position:absolute;z-index:20;display:flex;justify-content:space-between;align-items:center;}
.main-slide-ctrl .btn-prev{display:flex;justify-content:center;align-items:center;width:100px;height:100px;border:0;padding:0;background:transparent;}
.main-slide-ctrl .btn-next{display:flex;justify-content:center;align-items:center;width:100px;height:100px;border:0;padding:0;background:transparent;}


.paging-wrap{width:100%;height:auto;overflow:hidden;margin:60px auto 180px auto;display:flex;justify-content:center;align-items:center;}
.paging-wrap a{font-size:13px;color:#151515;border:1px solid rgba(0,0,0,0);width:33px;height:33px;margin:0 1px;display:flex;justify-content:center;align-items:center;position:relative;border-radius: 5px;}
.paging-wrap a.first{background:#f6f6f6;margin:0;}
.paging-wrap a.prev{background:#f6f6f6;margin-left:-1px;margin-right:19px;}
.paging-wrap a.next{background:#f6f6f6;margin-right:-1px;margin-left:19px;}
.paging-wrap a.last{background:#f6f6f6;margin:0;}
.paging-wrap a i{font-size:16px;font-weight:bold;color:#151515;}
.paging-wrap a{text-decoration:none !important;}
.paging-wrap a.on,
.paging-wrap a:hover{font-weight:700;position:relative;z-index:2;color:#5165f6;border-color:#5165f6;}

/*팝업*/
.dialog{z-index:90;width:100%;height:100%;overflow:hidden;position:fixed;left:0;top:0;background:rgba(0,0,0,.5);display:none;justify-content:center;align-items:center;}
.dialog.on{display:flex;}
.dialog .pop-wrap{background:#fff;width:600px;height:auto;overflow:hidden;}
.dialog .pop-wrap.type01{width:1200px;}
.dialog .pop-wrap .pop-header{width:100%;height:122px;border-bottom:1px solid #a0a0a0;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.dialog .pop-wrap .pop-header h1{display:flex;margin-left:63px;font-size:32px;color:#222;font-weight:500;}
.dialog .pop-wrap .pop-header .btn-pop-close{width:30px;height:30px;border:0;background:transparent;display:flex;margin-right:50px;}
.dialog .pop-wrap .pop-header .btn-pop-close i{font-size:30px;color:#000;}
.dialog .pop-wrap .pop-cont{width:calc( 100% - 84px );height:auto;max-height:600px;overflow:hidden;overflow-y:auto;padding:30px 42px;}
.dialog .pop-wrap.type01 .pop-cont{width:calc( 100% - 124px );padding:50px 62px;}
.dialog .pop-wrap .pop-cont .file-list{width:100%;height:auto;overflow:Hidden;}
.dialog .pop-wrap .pop-cont .file-list li{width:calc( 25% - 40px );height:auto;overflow:hidden;float:left;padding:20px;}
.dialog .pop-wrap .pop-cont .file-list li a{text-align:center;display:block;width:100%;height:auto;overflow:hidden;}
.dialog .pop-wrap .pop-cont .file-list li a img{width:66px;height:66px;overflow:hidden;}
.dialog .pop-wrap .pop-cont .file-list li a img img{width:100%;}
.dialog .pop-wrap .pop-cont .file-list li a span{word-break:keep-all;margin-top:15px;display:block;width:100%;padding:0;height:auto;overflow:hidden;text-align:center;font-size:14px;color:#222;}
.dialog .pop-wrap .pop-cont .tbl-caption{display:flex;justify-content:flex-start;align-items:center;width:100%;height:auto;overflow:hidden;font-size:28px;color:#222;font-weight:400;}
.dialog .pop-wrap .pop-cont .tbl-caption span{display:flex;font-size:28px;color:#222;font-weight:400;}
.dialog .pop-wrap .pop-cont .tbl-caption input{display:flex;padding:0 10px;height:40px;width:150px;border:0;font-size:28px;color:#222;}
.dialog .pop-wrap .pop-cont .tbl-scrolls{margin-top:20px;width:100%;height:auto;overflow:hidden;overflow-y:auto;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table{width:100%;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table th{font-size:17px;color:#222;font-weight:500;padding:20px;text-align:center;border:1px solid #e7e7e7;background:#f6f7f8;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table th span{font-size:17px;color:#888;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table th strong{font-size:28px;color:#222;font-weight:500;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td{font-size:17px;color:#222;font-weight:500;padding:20px;text-align:center;border:1px solid #e7e7e7;background:#fff;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td .inp{border:0;height:40px;width:100%;font-size:17px;color:#222;font-weight:500;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td .form-item-wrap{width:100%;height:auto;overflow:Hidden;display:flex;justify-content:flex-start;align-items:center;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td .form-item-wrap span{display:flex;font-size:17px;color:#222;font-weight:500;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td .form-item-wrap .inp{padding:0 10px;flex:1;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td.cb{color:#3f64c3;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td.cr{color:#f63e42;}
.dialog .pop-wrap .pop-cont .tbl-scrolls table td.al{text-align:left;}


/*상단*/
@media (max-width:1300px) {
    header .rela h1{margin-left:20px;}
    header .side-cont{margin-right:20px;}
    header .rela .gnb-box{margin-left:40px;}
    .totalmenu-wrap .rela01{width:calc( 100% - 200px );padding-left:200px;}
}
@media (max-width:1024px) {
    header{}
    header .rela{height:60px;z-index:99;}
    header .rela h1{width:84px;display:flex;justify-content:flex-start;align-items:center;}
    header .rela h1 a{overflow:hidden;display:block;}
    header .rela h1 a img{width:84px;}
    header .side-cont .btn-total-nav{}
    header .side-cont.on .btn-total-nav{background:url(../image/ico/ico-menu-close-m.svg) no-repeat center center;}
    header .side-cont .btn-total-nav img{}
    header .rela .gnb-box{justify-content: flex-end;margin-left:0;}
    header .gnb-list{display:none;}
    header .side-cont .btn-link-shop{display:none;}
    header .side-cont .btn-total-nav{display:flex;width:30px;height:30px;background-size:30px 30px !important;}
    header.up .rela{}
    header.active .rela{background:transparent;border-bottom:0;}
    header.active:before{content:"";width:100%;height:100%;overflow:hidden;display:block;position:fixed;left:0;top:0;background:rgba(0,0,0,.5);z-index:100;}
    .totalmenu-wrap{z-index:102;background:#fff;width:300px;left:auto;right:0px;top:0px;height:calc( 100% - 0px );transform: translateX(100%);}
    .totalmenu-wrap.on{transform: translateX(0px);}
    .totalmenu-wrap .rela01{width:100%;height:100%;overflow:hidden;overflow-y:auto;padding-left:0;padding-top:0;}
    .totalmenu-wrap .rela01>ul{display:block;width:calc( 100% - 32px );margin:0 16px}
    .totalmenu-wrap .rela01>ul>li{width:100%;}
    .totalmenu-wrap .rela01>ul>li>a>img{display:none;}
    .totalmenu-wrap .rela01>ul>li>a{display:flex;border-bottom:1px solid #EDEDED;width:100%;height:64px;padding-left:0;position:relative;}
    .totalmenu-wrap .rela01>ul>li>a .ico{width:18px;height:15px;overflow:hidden;display:block;position:absolute;right:0;top:50%;margin-top:-8px;background:url(../image/ico/ico-mob-arr.svg) no-repeat;background-size:16px 16px;}
    .totalmenu-wrap .rela01>ul>li>a.on span{}
    .totalmenu-wrap .rela01>ul>li>a.on .ico{transform: rotate(180deg);}

    .totalmenu-wrap .mob-header-wrap{width:calc( 100% - 32px );height:60px;overflow:hidden;padding:0 16px;display:flex;justify-content:space-between;align-items:center;}
    .totalmenu-wrap .mob-header-wrap a{}
    .totalmenu-wrap .mob-login-wrap{display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:50px;width:100%;}
    .totalmenu-wrap .mob-login-wrap a{font-size:16px;color:#000;font-weight:500;line-height:24px;}

    .totalmenu-wrap ul{}
    .totalmenu-wrap ul li .sub-menu-wrap{display:none;}
    .totalmenu-wrap .rela01>ul>li>a.on + .sub-menu-wrap{display:block;}
    .totalmenu-wrap ul li .sub-menu-wrap{width:calc( 100% - 20px );padding-left:20px;padding-bottom:10px;}
    .totalmenu-wrap ul li .sub-menu-wrap .sub-item ul li a{width:100%;position:relative;font-size:14px;color:#000;font-weight:500;}
    .totalmenu-wrap ul li .sub-menu-wrap .sub-item ul li a.on{font-weight:bold;color:#000;}
    .totalmenu-wrap ul li a span{font-size:16px;color:#000;font-weight:600;}
    .totalmenu-wrap ul li a{}
    .totalmenu-wrap ul li.mh{display:none;}
    .totalmenu-wrap .mob-link-wrap{padding-bottom:10px;width:calc( 100% - 60px );margin:60px 20px 0 40px;display:flex;justify-content:flex-start;align-items:center;}
    .totalmenu-wrap .mob-link-wrap .btn-link-shop{border-bottom:1px solid #7ABF1C;padding-bottom:10px;display:flex;justify-content:flex-start;align-items:center;width:100%;height:auto;overflow:hidden;}
    .totalmenu-wrap .mob-link-wrap .btn-link-shop img{display:flex;width:18px;height:16px;}
    .totalmenu-wrap .mob-link-wrap .btn-link-shop span{font-size:14px;color:#91CE3E;font-weight:bold;display:flex;margin-left:6px;width:100%;flex:1;}
    .totalmenu-wrap .mob-link-wrap .btn-link-shop strong{display:flex;font-size:13px;color:#91CE3E;font-weight:bold;}
    .totalmenu-wrap .sns-item-wrap{width:calc( 100% - 60px );margin:50px 20px 0 40px;display:flex;justify-content:flex-end;align-items:center;}
    .totalmenu-wrap .sns-item-wrap a{display:flex;margin-left:8px;}
    .totalmenu-wrap .sns-item-wrap a img{width:25px;height:25px;}
    header.down .totalmenu-wrap{transform: translateY(-150%);}
}
/*하단*/
@media (max-width:1300px) {

}
@media (max-width:1024px) {

}

@media (max-width:1300px) {
    .main-slide-wrap .swiper-container .swiper-slide .tit{width:calc( 100% - 40px );padding:0 20px;}
    .main-slide-wrap .swiper-container .swiper-slide.swiper-slide-active .desc{width:calc( 100% - 40px );padding:0 20px;}
    .main-slide-wrap .swiper-container .swiper-pagination{left:40px;margin-left:0;}
    .main-slide-wrap .pagination-cnt-wrap{left:20px;margin-left:0;}
    .main-slide-ctrl{right:20px;margin-right:0;}

}
@media (max-width:1024px) {

}
@media (max-width:768px) {


}

/**/
.main-contents-wrap{width:100%;height:auto;overflow:hidden;padding-top:120px;padding-bottom:100px;}
.main-contents-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:60px;color:#000;font-weight:500;line-height:84px;}
.main-contents-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:10px;font-size:16px;color:#808080;font-weight:500;line-height:24px;}
.main-contents-wrap .swiper-container{overflow:visible;max-width:1400px;margin:60px auto 0 auto;padding-bottom:60px;}
.main-contents-wrap .swiper-slide{width:530px;}
.main-contents-wrap .swiper-slide a{width:100%;height:auto;overflow:hidden;display:block;}
.main-contents-wrap .swiper-slide a .mpic{width:100%;height:400px;overflow:hidden;display:flex;justify-content:flex-end;align-items:flex-start;flex-direction: column;background-size:cover !important;}
.main-contents-wrap .swiper-slide a .mpic .stit{width:calc( 100% - 60px );padding:0 30px;height:auto;overflow:hidden;font-size:24px;color:#fff;font-weight:700;line-height:20px;}
.main-contents-wrap .swiper-slide a .mpic .sdesc{width:calc( 100% - 60px );padding:0 30px;height:auto;overflow:hidden;margin-top:10px;font-size:18px;color:#fff;font-weight:500;line-height:26px;}
.main-contents-wrap .swiper-slide a .mpic .more{margin:30px 0 30px 30px;width:102px;height:36px;overflow:hidden;border:1px solid #fff;display:flex;justify-content:center;align-items:center;font-size:16px;color:#fff;font-weight:700;}
.main-contents-wrap .swiper-container-horizontal > .swiper-pagination-progressbar{height:2px;top:auto;bottom:0;background:#DADADA;}
.main-contents-wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#04BC97;}

.main-why-wrap{width:100%;height:624px;overflow:hidden;background:#1EACB1 url(../image/bg/bg-why.png) no-repeat center top;background-size:cover;}
.main-why-wrap .mtit{max-width:1400px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:80px auto 0 auto;font-size:68px;color:#fff;font-weight:500;line-height:84px;}
.main-why-wrap ul{max-width:1400px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:54px auto 0 auto;display:flex;justify-content:center;align-items:center;}
.main-why-wrap ul li{width:100%;flex:1;display:flex;justify-content:center;align-items:center;height:auto;overflow:hidden;position:relative;flex-direction: column;}
.main-why-wrap ul li .sico{width:100%;height:120px;overflow:hidden;text-align:center;}
.main-why-wrap ul li .stit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:22px;color:#fff;font-weight:700;line-height:28px;}
.main-why-wrap ul li .sdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:20px;font-size:16px;color:#fff;font-weight:500;line-height:24px;}

.main-latest-wrap{max-width:1400px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:120px auto 0 auto;display:flex;justify-content:space-between;align-items:flex-start;}
.main-latest-wrap .mitem{width:658px;height:auto;overflow:hidden;}
.main-latest-wrap .mitem .latest-header-wrap{padding-bottom:10px;border-bottom:2px solid #04BC97;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.main-latest-wrap .mitem .latest-header-wrap .mtit{font-size:28px;color:#000;font-weight:600;line-height:30px;}
.main-latest-wrap .mitem .latest-header-wrap a{display:flex;justify-content:flex-start;align-items:center;}
.main-latest-wrap .mitem .latest-header-wrap a span{display:flex;font-size:16px;color:#000;font-weight:500;}
.main-latest-wrap .mitem .latest-header-wrap a img{display:flex;margin-left:8px;}
.main-latest-wrap .mitem ul{padding-top:6px;width:100%;height:auto;overflow:hidden;}
.main-latest-wrap .mitem ul li{width:100%;height:auto;overflow:hidden;}
.main-latest-wrap .mitem ul li + li{border-bottom:1px solid #EDEDED;}
.main-latest-wrap .mitem ul li a{width:100%;height:68px;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.main-latest-wrap .mitem ul li a .stit{flex:1;width:100%;height:auto;overflow:hidden;font-size:16px;color:#000;font-weight:500;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;margin-right:62px;}
.main-latest-wrap .mitem ul li a .sdate{font-size:14px;color:#808080;font-weight:500;}


.main-partner-wrap{width:100%;height:auto;overflow:hidden;padding:120px 0;background:#FAFAFA;}
.main-partner-wrap .mtit{max-width:1400px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:0 auto;text-align:center;font-size:60px;color:#000;font-weight:400;line-height:84px;}
.main-partner-wrap .mtit strong{font-size:60px;color:#000;font-weight:600;}
.main-partner-wrap ul{max-width:1400px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:80px auto 0 auto;}
.main-partner-wrap ul li{width:20%;height:auto;overflow:hidden;float:left;text-align:center;}
.main-partner-wrap ul li img{max-width:100%;}

.health-page-wrap{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:0 auto;padding:120px 0 160px 0;}
.health-page-wrap ul{width:100%;height:auto;overflow:hidden;}
.health-page-wrap ul li{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.health-page-wrap ul li + li{margin-top:100px;}
.health-page-wrap ul li .mpic{width:440px;height:340px;overflow:hidden;background-size:cover !important;}
.health-page-wrap ul li .mcont{width:100%;height:auto;overflow:Hidden;flex:1;margin-left:50px;}
.health-page-wrap ul li .mcont .mtit{width:100%;height:auto;overflow:hidden;font-size:32px;color:#000;font-weight:500;line-height:40px;}
.health-page-wrap ul li .mcont .mdesc{width:100%;height:auto;overflow:hidden;margin-top:20px;font-size:20px;color:#808080;font-weight:500;line-height:20px;}
.health-page-wrap ul li .mcont a{margin-top:40px;width:205px;height:56px;border-radius:10px;background:#04BC97;overflow:hidden;display:flex;justify-content:center;align-items:center;font-size:18px;color:#fff;font-weight:700;}

.sub-header-wrap{width:100%;height:360px;overflow:hidden;background-size:cover !important;}
.sub-header-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:184px;font-size:40px;color:#fff;line-height:50px;}
.sub-header-wrap ul{width:100%;height:auto;overflow:hidden;margin-top:20px;display:flex;justify-content:center;align-items:center;}
.sub-header-wrap ul li{padding:0 30px;position:relative;display:flex;font-size:16px;color:#fff;font-weight:600;}
.sub-header-wrap ul li + li:before{content:"";width:14px;height:14px;overflow:hidden;display:block;background:url(../image/ico/ico-loc-arr.svg);position:absolute;left:-7px;top:50%;margin-top:-7px;}

.login-page-wrap{width:100%;height:auto;overflow:hidden;padding:120px 0;}
.login-page-wrap .login-form-wrap{margin:0 auto;width:calc( 516px - 120px );padding:50px 60px;height:auto;overflow:hidden;border:1px solid #EDEDED;border-radius:20px;}
.login-page-wrap .login-form-wrap .label{width:100%;height:auto;overflow:hidden;font-size:16px;color:#000;font-weight:600;}
.login-page-wrap .login-form-wrap .form-item-wrap{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;margin-top:10px;position:relative; }
.login-page-wrap .login-form-wrap .form-item-wrap .inp{width:100%;flex:1;height:54px;border-radius:10px;border:1px solid #EDEDED;padding:0 20px;font-size:16px;font-weight:600;}
.login-page-wrap .login-form-wrap .form-item-wrap .btn-pwd{width:20px;height:20px;border:0;padding:0;background:transparent;position:absolute;right:20px;top:18px;}
.login-page-wrap .login-form-wrap .error-msg{width:100%;height:auto;overflow:hidden;margin-top:8px;font-size:13px;font-weight:600;color:#FF5151;}

.login-page-wrap .login-form-wrap .error-msg + .label{margin-top:24px;}
.login-page-wrap .login-form-wrap .form-item-wrap + .label{margin-top:24px;}
.login-page-wrap .login-form-wrap .btn-item-wrap{margin-top:30px;width:100%;height:auto;overflow:hidden;}
.login-page-wrap .login-form-wrap .btn-item-wrap button{width:100%;height:56px;border:0;border-radius:10px;background:#04BC97;display:flex;justify-content:center;align-items:center;padding:0;overflow:hidden;font-size:18px;color:#fff;font-weight:700;}
.login-page-wrap .login-form-wrap .pwd-link-wrap{margin-top:36px;text-align:center;width:100%;height:auto;overflow:hidden;}
.login-page-wrap .login-form-wrap .pwd-link-wrap a{font-size:14px;color:#808080;font-weight:700;text-decoration:underline !important;}
.login-page-wrap .signup-link-wrap{background:#E7FFFA;border-radius:10px;width:348px;height:48px;overflow:hidden;margin:50px auto 0 auto;display:flex;justify-content:center;align-items:center;}
.login-page-wrap .signup-link-wrap span{display:flex;font-size:14px;color:#000;font-weight:500;}
.login-page-wrap .signup-link-wrap a{display:flex;margin-left:10px;font-size:14px;color:#000;font-weight:700;}

.partner-list-wrap{width:100%;height:auto;overflow:hidden;padding:120px 0;}
.partner-list-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:18px;color:#000;font-weight:500;line-height:25px;}
.partner-list-wrap ul{width:calc( 100% - 40px );max-width:1400px;height:auto;overflow:hidden;margin:80px auto 0 auto;}
.partner-list-wrap ul li{width:calc( 25% - 20px );margin:0 10px 20px 10px;float:left;height:auto;overflow:hidden;}
.partner-list-wrap ul li img{max-width:100%;}

.join-step-wrap{width:100%;height:auto;overflow:hidden;padding:120px 0;}
.join-step-wrap ul{width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.join-step-wrap ul li{padding:0 40px;display:flex;font-size:18px;color:#A8A8A8;font-weight:600;}
.join-step-wrap ul li.on{color:#000;}

.agree-page-wrap{width:calc( 100% - 40px );max-width:1200px;margin:0 auto;height:auto;overflow:hidden;padding:0 0 160px 0;}
.agree-page-wrap .agree-header-wrap{border-bottom:2px solid #000;padding-bottom:12px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.agree-page-wrap .agree-header-wrap .mtit{display:flex;font-size:28px;color:#000;font-weight:600;}
.agree-page-wrap .agree-header-wrap label{display:flex;justify-content:flex-start;align-items:center;}
.agree-page-wrap .agree-header-wrap label input{display:flex;}
.agree-page-wrap .agree-header-wrap label span{display:flex;margin-left:13px;font-size:18px;color:#000;font-weight:500;}
.agree-page-wrap dl{width:100%;height:auto;overflow:hidden;}
.agree-page-wrap dl dt{margin-top:60px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.agree-page-wrap dl dt .mtit{display:flex;font-size:22px;color:#000;font-weight:600;}
.agree-page-wrap dl dt label{display:flex;justify-content:flex-start;align-items:center;}
.agree-page-wrap dl dt label input{display:flex;}
.agree-page-wrap dl dt label span{display:flex;margin-left:13px;font-size:18px;color:#000;font-weight:500;}
.agree-page-wrap dl dd{width:calc( 100% - 2px - 60px );padding:20px 30px;height:auto;overflow:hidden;margin-top:10px;border-radius:20px;border:1px solid #EDEDED;}
.agree-page-wrap dl dd .scrolls{width:100%;height:187px;overflow:hidden;overflow-y:auto;font-size:16px;color:#000;line-height:24px;}
.agree-page-wrap .btn-item-wrap{width:100%;height:auto;overflow:hidden;margin-top:60px;display:flex;justify-content:center;align-items:center;}
.agree-page-wrap .btn-item-wrap button{width:178px;height:56px;border-radius:10px;background:#04BC97;font-size:18px;color:#fff;font-weight:700;display:flex;justify-content:center;align-items:center;padding:0;border:0;}
.agree-page-wrap .btn-item-wrap button + button{margin-left:20px;border:1px solid #C1C1C1;background:#fff;color:#000;}

.join-form-wrap{width:calc( 100% - 40px );max-width:1200px;margin:0 auto;height:auto;overflow:hidden;padding:0 0 160px 0;}
.join-form-wrap .jform-header-wrap{border-bottom:2px solid #000;padding-bottom:12px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.join-form-wrap .jform-header-wrap .mtit{display:flex;font-size:28px;color:#000;font-weight:600;}
.join-form-wrap .jform-header-wrap .metc{font-size:18px;color:#000;font-weight:500;}
.join-form-wrap .jform-header-wrap .metc span{font-size:18px;color:#04BC97;font-weight:500;}

.jform-cont-wrap{padding-top:60px; width:100%;height:auto;overflow:hidden;}
.jform-cont-wrap + .jform-cont-wrap{border-top:1px solid #EDEDED;margin-top:28px;}
.jform-cont-wrap .label{font-size:16px;color:#000;font-weight:600;width:100%;height:auto;overflow:hidden;}
.jform-cont-wrap .label span{font-size:16px;color:#04BC97;font-weight:600;}
.jform-cont-wrap .form-item-wrap{width:100%;height:auto;overflow:hidden;margin-top:10px;position:relative;display:flex;justify-content:flex-start;align-items:center;}
.jform-cont-wrap .error-msg{width:100%;height:auto;overflow:hidden;margin-top:16px;position:relative;font-size:13px;color:#FF5151;font-weight:600;}

.jform-cont-wrap .form-item-wrap + .label{margin-top:58px;}
.jform-cont-wrap .error-msg + .label{margin-top:24px;}

.jform-cont-wrap .form-item-wrap .inp{max-width:520px;width:100%;flex:1;height:54px;border-radius:10px;border:1px solid #EDEDED;padding:0 20px;font-size:16px;font-weight:600;}
.jform-cont-wrap .form-item-wrap .inp.s01{flex:initial;width:calc( 292px - 40px );}
.jform-cont-wrap .form-item-wrap .inp.s02{flex:initial;width:56px;text-align:center;padding:0;}
.jform-cont-wrap .form-item-wrap .e01{font-size:16px;color:#000;font-weight:600;width:28px;height:56px;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.jform-cont-wrap .form-item-wrap .e02{word-spacing:20px;margin-left:30px;font-size:16px;color:#D1D1D1;font-weight:600;}
.jform-cont-wrap .form-item-wrap .btn-func{margin-left:10px;width:127px;height:56px;overflow:hidden;border:0;padding:0;border-radius:10px;background:#04BC97;font-size:16px;color:#fff;font-weight:600;}
.jform-cont-wrap .form-item-wrap .btn-func.t01{border:1px solid #000;background:#fff;color:#000;}
.jform-cont-wrap .form-item-wrap .timer{height:56px;font-size:16px;color:#04BC97;font-weight:600;display:flex;justify-content:flex-start;align-items:center;position:absolute;left:450px;top:0;}
.jform-cont-wrap .form-item-wrap .btn-pwd{width:20px;height:20px;overflow:hidden;border:0;background:transparent;padding:0;position:absolute;left:520px;top:18px;}
.jform-cont-wrap .form-item-wrap .select{padding-left:20px;width:560px;height:56px;border:1px solid #EDEDED;font-size:16px;border-radius:10px;}
.jform-cont-wrap .form-item-wrap .select.s01{margin-right:20px;width:270px;}
.jform-cont-wrap ul{width:100%;height:auto;overflow:hidden;}
.jform-cont-wrap ul li{width:50%;float:left;height:auto;overflow:hidden;margin-top:58px;}
.jform-cont-wrap ul li.full{width:100%;}

.join-form-wrap .btn-item-wrap{width:100%;height:auto;overflow:hidden;margin-top:60px;display:flex;justify-content:center;align-items:center;}
.join-form-wrap .btn-item-wrap button{width:178px;height:56px;border-radius:10px;background:#04BC97;font-size:18px;color:#fff;font-weight:700;display:flex;justify-content:center;align-items:center;padding:0;border:0;}
.join-form-wrap .btn-item-wrap button + button{margin-left:20px;border:1px solid #C1C1C1;background:#fff;color:#000;}

.join-complete-wrap{width:100%;height:auto;overflow:hidden;padding:0px 0 160px 0;}
.join-complete-wrap .mico{width:100%;height:auto;overflow:hidden;text-align:center;}
.join-complete-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:30px;font-size:28px;color:#000;font-weight:600;line-height:38px;}
.join-complete-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:10px;font-size:18px;color:#808080;font-weight:500;line-height:26px;}
.join-complete-wrap a{width:249px;height:56px;border-radius:10px;border:1px solid #C1C1C1;display:flex;justify-content:center;align-items:center;overflow:hidden;text-align:center;margin:60px auto 0 auto;font-size:18px;color:#000;font-weight:700;}

.sub-view-header-wrap{width:100%;height:auto;overflow:hidden;background:#111;}
.sub-view-header-wrap .video-item-wrap{width:1200px;height:548px;overflow:hidden;margin:0 auto;position:relative;}
.sub-view-header-wrap .video-item-wrap video{position:absolute;left:0;top:0;width:100%;height:100%;}
.enter-play-btn{width:100px;height:100px;overflow:hidden;border:0;background:transparent;padding:0;position:absolute;left:50%;top:50%;margin:-50px 0 0 -50px;}
.enter-play-btn.hide{display:none;}

.view-page-wrap{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:0 auto;padding:120px 0 160px 0;display:flex;justify-content:space-between;align-items:flex-start;}
.view-page-wrap .lt-item{width:750px;height:auto;overflow:hidden;}
.view-page-wrap .lt-item .mtit{width:100%;height:auto;overflow:hidden;font-size:32px;color:#111;font-weight:500;line-height:40px;}
.view-page-wrap .lt-item .mdesc{width:100%;height:auto;overflow:hidden;margin-top:30px;font-size:20px;color:#000;font-weight:500;line-height:30px;}
.view-page-wrap .lt-item .mpic{width:100%;height:auto;overflow:hidden;margin-top:10px;}
.view-page-wrap .lt-item .mpic img{max-width:100%;}
.view-page-wrap .lt-item .mpic + .mdesc{margin-top:40px;}
.view-page-wrap .lt-item .mdesc + .mtit{margin-top:60px;}
.view-page-wrap .lt-item .mdesc + .mdesc{margin-top:40px;}

.view-page-wrap .rt-item{width:400px;height:auto;overflow:hidden;}
.view-page-wrap .rt-item .info-rela{width:calc( 100% - 2px - 60px  );padding:40px 30px;border:1px solid #EDEDED;border-radius:20px;height:auto;overflow:hidden;}
.view-page-wrap .rt-item .mtit{width:100%;height:auto;overflow:hidden;font-size:28px;color:#111;font-weight:600;line-height:38px;}
.view-page-wrap .rt-item ul{margin-top:30px;width:100%;height:auto;overflow:hidden;}
.view-page-wrap .rt-item ul li{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.view-page-wrap .rt-item ul li + li{margin-top:14px;}
.view-page-wrap .rt-item ul li .key{display:flex;width:110px;font-size:16px;color:#000;font-weight:700;}
.view-page-wrap .rt-item ul li .value{display:flex;margin-left:20px;font-size:16px;color:#000;font-weight:500;}
.view-page-wrap .rt-item .btn-item-wrap{margin-top:40px;width:100%;height:auto;overflow:hidden;}
.view-page-wrap .rt-item .btn-item-wrap button{width:100%;height:52px;overflow:hidden;border-radius:10px;background:#04BC97;border:0;padding:0;display:flex;justify-content:center;align-items:center;font-size:16px;color:#fff;font-weight:700;}
.view-page-wrap .rt-item .link-item-wrap{margin-top:30px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.view-page-wrap .rt-item .link-item-wrap a{display:flex;justify-content:center;align-items:center;}
.view-page-wrap .rt-item .link-item-wrap a span{display:flex;font-size:16px;color:#000;font-weight:600;}
.view-page-wrap .rt-item .link-item-wrap a img{display:flex;margin-left:8px;}

.my-page-wrap{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:0 auto;padding:120px 0 160px 0;}
.my-page-wrap .my-header-wrap{width:100%;height:auto;overflow:hidden;padding-bottom:12px;border-bottom:2px solid #000;display:flex;justify-content:space-between;align-items:center;}
.my-page-wrap .my-header-wrap .mtit{display:flex;font-size:28px;color:#000;font-weight:600;}
.my-page-wrap .my-header-wrap a{display:flex;font-size:16px;color:#000;font-weight:600;}
.my-page-wrap .my-info-wrap{width:calc( 100% - 120px );height:auto;overflow:hidden;background:#F8F8F8;padding:40px 60px 60px 60px;}
.my-page-wrap .my-info-wrap ul{width:100%;height:auto;overflow:hidden;}
.my-page-wrap .my-info-wrap ul li{width:50%;height:auto;overflow:hidden;margin-top:20px;float:left;display:flex;justify-content:flex-start;align-items:center;}
.my-page-wrap .my-info-wrap ul li .key{display:flex;width:120px;font-size:18px;color:#808080;font-weight:600;}
.my-page-wrap .my-info-wrap ul li .value{display:flex;font-size:18px;colro:#000;font-weight:600;}

.my-page-wrap .my-info-wrap + .my-header-wrap{margin-top:140px;}

.my-page-wrap .my-program-wrap{width:100%;height:auto;overflow:hidden;}
.my-page-wrap .my-program-wrap ul{width:100%;height:auto;overflow:hidden;}
.my-page-wrap .my-program-wrap ul li{padding:30px 0;border-bottom:1px solid #EDEDED; width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.my-page-wrap .my-program-wrap ul li .mpic{width:200px;height:152px;overflow:hidden;background-size:cover !important;}
.my-page-wrap .my-program-wrap ul li .mcont{margin-left:20px;width:100%;flex:1;height:auto;overflow:hidden;}
.my-page-wrap .my-program-wrap ul li .mcont .scate{width:100%;height:auto;overflow:hidden;font-size:16px;color:#808080;font-weight:500;line-height:24px;}
.my-page-wrap .my-program-wrap ul li .mcont .stit{width:100%;height:auto;overflow:hidden;margin-top:4px;font-size:20px;color:#000;font-weight:600;line-height:28px;}
.my-page-wrap .my-program-wrap ul li .mcont a{display:flex;justify-content:flex-start;align-items:center;margin-top:28px;}
.my-page-wrap .my-program-wrap ul li .mcont a span{display:flex;font-size:16px;color:#000;font-weight:500;}
.my-page-wrap .my-program-wrap ul li .mcont a img{display:flex;margin-left:8px;}
.my-page-wrap .my-program-wrap ul li .mbtn{width:163px;height:auto;overflow:hidden;}
.my-page-wrap .my-program-wrap ul li .mbtn button{width:100%;height:44px;overflow:hidden;border-radius:10px;border:0;padding:0;background:#04BC97;display:flex;justify-content:center;align-items:center;font-size:18px;color:#fff;font-weight:700;}
.my-page-wrap .my-program-wrap ul li .mbtn button + button{margin-top:10px;border:1px solid #C1C1C1;background:#fff;color:#000;}

@media (max-width:1024px) {
    .main-slide-ctrl{display:none;}
    footer{background:#fff;padding:40px 0 100px 0;}
    footer:before{top:auto;width:54px;height:68px;overflow:hidden;border:0;background:url(../image/etc/etc-flogo-mob.svg) no-repeat;position:absolute;left:50%;bottom:20px;margin-left:-27px;}
    footer .rela{display:block;}
    footer .rela .lt-item{display:none;}
    footer .rela .fnb-list{justify-content: center;width:100%;}
    footer .rela .fnb-list li a{font-size:14px;color:#000;}
    footer .rela .fnb-list li{position:relative;padding:0 12px;}
    footer .rela .fnb-list li + li:before{content:"";width:3px;height:3px;overflow:hidden;display:block;background:#000;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;}
    footer .rela.t01{margin-top:20px;padding-top:20px;}
    footer .rela .finfo-list{width:100%;}
    footer .rela .finfo-list li:nth-child(1),
    footer .rela .finfo-list li:nth-child(2){display:none;}
    footer .rela .finfo-list li{text-align:center;width:100%;padding:0;margin:0 0 9px 0;font-size:13px;color:#000;}
    footer .rela .finfo-list li:before{display:none;}
    footer .rela .copy{text-align:center;margin-top:11px;}

    .main-slide-wrap .swiper-container .swiper-slide .slide-item{height:100vh;}
    .main-slide-wrap .swiper-container .swiper-slide .cont{height:100vh;}
    .main-slide-wrap .swiper-container .swiper-slide .tit{font-size:7vw;margin-top:30vw;line-height:1.5em;}
    .main-slide-wrap .swiper-container .swiper-slide.swiper-slide-active .desc{font-size:3vw;line-height:1.5em;}
    .main-contents-wrap .mtit{position:relative;width:calc( 100% - 40px );padding:0 20px 12px 20px;font-size:30px;text-align:left;line-height:1.5em;}
    .main-contents-wrap .mtit:before{content:"";width:50px;height:3px;overflow:hidden;display:block;background:#04BC97;position:absolute;left:20px;bottom:0;}
    .main-contents-wrap .mdesc{width:calc( 100% - 40px );padding:0 20px;text-align:left;font-size:14px;color:#808080;margin-top:20px;}
    .main-contents-wrap{padding:40px 0;}
    .main-contents-wrap .swiper-slide{width:250px;}
    .main-contents-wrap .swiper-slide a .mpic{height:180px;}
    .main-contents-wrap .swiper-container{width:calc( 100% - 40px );margin:30px auto 0 auto;}
    .main-contents-wrap .swiper-slide a .mpic .sdesc{display:none;}
    .main-contents-wrap .swiper-slide a .mpic .stit{font-size:18px;width:calc( 100% - 40px );padding:0 20px;}
    .main-contents-wrap .swiper-slide a .mpic .more{width:95px;height:30px;margin:10px 0 20px 20px;font-size:14px;}
    .main-contents-wrap .swiper-container{padding-bottom:30px;}
    .main-why-wrap{height:auto;background:#04BC97 url(../image/bg/bg-why-mob.png) no-repeat right top;}
    .main-why-wrap .mtit{font-size:34px;line-height:44px;margin-top:40px;}
    .main-why-wrap ul{display:block;}
    .main-why-wrap ul li{padding:30px 0;}
    .main-why-wrap ul li + li{border-top:1px solid rgba(255, 255, 255, 0.30);}
    .main-why-wrap ul li .stit{font-size:18px;line-height:26px;}
    .main-why-wrap ul li .sdesc{font-size:14px;line-height:20px;margin-top:10px;}
    .main-latest-wrap{width:100%;display:block;padding:0;margin:0;}
    .main-latest-wrap .mitem{width:100%;}
    .main-latest-wrap .mitem .latest-header-wrap{margin-top:60px;width:calc( 100% - 40px );padding:0 20px 20px 20px;border-width:1px;}
    .main-latest-wrap .mitem .latest-header-wrap .mtit{font-size:22px;}
    .main-latest-wrap .mitem .latest-header-wrap a span{font-size:14px;}
    .main-latest-wrap .mitem .latest-header-wrap a img{margin-left:4px;}
    .main-latest-wrap .mitem ul{margin-top:0;}
    .main-latest-wrap .mitem ul li a{height:58px;width:calc( 100% - 40px );padding:0 20px;justify-content: center;flex-direction: column;
        align-items: flex-start;}
    .main-latest-wrap .mitem ul li a .stit{flex:initial;line-height:24px;}
    .main-latest-wrap .mitem ul li a .sdate{font-size:13px;line-height:18px;}
    .main-partner-wrap{width:calc( 100% - 40px );padding:60px 20px 70px 20px;background:#FAFAFA}
    .main-partner-wrap .mtit{font-size:28px;line-height:44px;}
    .main-partner-wrap .mtit br{}
    .main-partner-wrap .mtit strong{font-size:28px;}
    .main-partner-wrap ul{width:100%;margin:40px auto 0 auto;}
    .main-partner-wrap ul li{width:50%;}
}