@charset "utf-8";
body{background:#fff !important;}
.wrapper{width:100%;height:auto;word-break:keep-all;overflow:hidden;min-width:1600px;}

/*상단영역*/
header{width:100%;height:75px;overflow:hidden;background:#000;position:absolute;left:0;top:55px;z-index:90;}
header .rela{width:1150px;height:75px;overflow:hidden;margin:0 auto;display:flex;justify-content:flex-start;align-items:center;}
header .rela h1{}
header .rela h1 a{}
header .rela .gnb-box{width:100%;flex:1;margin-left:60px;display:flex;justify-content:flex-start;align-items:center;}
header .rela .gnb-box .gnb-list{display:flex;justify-content:flex-start;align-items:center;}
header .rela .gnb-box .gnb-list li{display:flex;justify-content:flex-start;align-items:center;}
header .rela .gnb-box .gnb-list li + li{margin-left:25px;}
header .rela .gnb-box .gnb-list li a{letter-spacing: 0.42px;font-size:14px;font-family: 'Poppins';font-weight:500;color:#fff;}
header .rela .gnb-box .gnb-list li a.on{color:#FFBA00;}
header .rela .side-cont{display:flex;justify-content:flex-start;align-items:center;}
header .rela .side-cont .btn-point{display:flex;justify-content:flex-start;align-items:center;}
header .rela .side-cont .btn-point .upic{display:flex;width:20px;height:20px;overflow:hidden;border-radius:50%;background-size:cover !important;}
header .rela .side-cont .btn-point .upoint{display:flex;font-size:12px;color:#FEFEFE;margin-left:6px;font-family: 'Noto Sans KR';font-weight:500;}
header .rela .side-cont .btn-charge{display:flex;justify-content:center;align-items:center;margin-left:13px;width:34px;height:17px;overflow:hidden;border-radius:10px;border:1px solid #FFBA00;font-size:11px;color:#FFBA00;font-family: 'Noto Sans KR';font-weight:500;}
header .rela .side-cont .btn-logout{display:flex;margin-left:17px;font-size:12px;color:#FEFEFE;font-family: 'Noto Sans KR';font-weight:500;}

/*하단영역*/
footer{width:100%;height:414px;overflow:hidden;background:url(../image/bg/bg-footer.jpg) no-repeat left bottom;background-size:cover;}
footer .rela{width:1150px;height:auto;overflow:hidden;margin:0 auto;}
footer .rela .fnb-list{width:100%;height:auto;overflow:hidden;margin-top:18px;display:flex;justify-content:center;align-items:center;}
footer .rela .fnb-list li{display:flex;justify-content:center;align-items:center;padding:0 15px;position:relative;}
footer .rela .fnb-list li + li:before{content:"";width:1px;height:12px;overflow:hidden;display:block;background:#D5D5D5;position:absolute;left:0;top:50%;margin-top:-6px;}
footer .rela .fnb-list li a{font-size:14px;color:#D5D5D5;font-family: 'Noto Sans KR';font-weight:400;}
footer .rela .flogo{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:60px;}
footer .rela .sns-list{margin-top:24px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
footer .rela .sns-list li{display:flex;margin:0 8px;}
footer .rela .sns-list li a{}
footer .rela .finfo-list{max-width:530px;margin:0 auto;width:100%;height:auto;overflow:hidden;margin-top:54px;text-align:center;}
footer .rela .finfo-list li{font-size:12px;color:#D5D5D5;display:inline-flex;font-family: 'Noto Sans KR';font-weight:500;}
footer .rela .copy{width:100%;line-height:1.5em;height:auto;overflow:hidden;text-align:center;margin-top:8px;font-size:12px;color:#D5D5D5;font-family: 'Roboto';font-weight:400;}
footer .rela .copy strong{font-size:12px;color:#FFC900;font-family: 'Roboto';font-weight:bold;}

@-webkit-keyframes pulse {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 227, 0, .35);
        box-shadow: 0 0 0 0 rgba(250, 227, 0, .35);
    }

    70% {
        -webkit-box-shadow: 0 0 0 1.5em rgba(0, 227, 0, 0);
        box-shadow: 0 0 0 1.5em rgba(250, 227, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 227, 0, 0);
        box-shadow: 0 0 0 0 rgba(250, 227, 0, 0);
    }

}
/*컨텐츠영역*/
.container{width:100%;height:auto;overflow:hidden;}
.main-pencake-wrap{width:100%;height:auto;overflow:hidden;position:relative;}
.main-pencake-wrap .swiper-container{width:100%;padding-bottom:40px;}
.main-pencake-wrap .swiper-container .swiper-slide{width:100%;}
.main-pencake-wrap .swiper-container .swiper-slide .slide-item{width:100%;height:800px;background-size:cover !important;}
.main-pencake-wrap .swiper-container .swiper-pagination-bullet{background:#000;}
.main-pencake-wrap .swiper-container .swiper-pagination-bullet-active{background:#FFBA00;}
.main-pencake-wrap .scont{z-index:40;width:546px;height:auto;overflow:hidden;position:absolute;left:50%;bottom:0;margin-left:-273px;}
.main-pencake-wrap .scont .mtit{width:100%;height:auto;overflow:hidden;text-align:center;line-height:60px;font-size:46px;color:#fff;font-family: 'Poppins';}
.main-pencake-wrap .scont .mtit strong{color:#FFBA00;font-size:46px;font-family: 'Poppins';}
.main-pencake-wrap .scont .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;line-height:26px;font-size:19px;color:#fff;font-family: 'Poppins';font-weight:300;}
.main-pencake-wrap .scont .form-item-wrap{margin-top:44px;width:100%;height:42px;border-radius:21px;background:#fff;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-pencake-wrap .scont .form-item-wrap .inp{padding-left:43px;font-size:12px;color:#333;width:100%;height:42px;border:0;border-top-left-radius:21px;border-bottom-left-radius:21px;flex:1;}
.main-pencake-wrap .scont .form-item-wrap button{font-size:11px;color:#000000;width:133px;height:42px;border:0;padding:0;background:#FFBA00;display:flex;justify-content:center;align-items:center;border-top-right-radius:21px;border-bottom-right-radius:21px;}
.main-pencake-wrap .scroll-down{padding-bottom:82px;width:100%;height:auto;overflow:hidden;text-align:center;margin-top:175px;}

.main-whoweare-wrap{width:1150px;height:auto;overflow:hidden;margin:67px auto 120px auto;background:url(../image/bg/bg-ai.jpg) no-repeat right top;}
.main-whoweare-wrap .mcate{width:100%;height:auto;overflow:hidden;margin-top:32px;line-height:55px;font-size:18px;color:#767676;text-decoration:underline;}
.main-whoweare-wrap .mtit{width:100%;height:auto;overflow:hidden;margin-top:30px;font-size:30px;line-height:42px;color:#333333;font-family: 'Poppins';font-weight:300;}
.main-whoweare-wrap .mtit strong{line-height:42px;color:#333333;font-family: 'Poppins';}
.main-whoweare-wrap .mdesc{margin-top:11px;width:100%;height:auto;overflow:hidden;font-size:16px;color:#666666;font-family: 'Roboto','Poppins';line-height:28px;}
.main-whoweare-wrap button{margin-top:102px;width:209px;height:55px;overflow:hidden;border:0;border-radius:30px;background:#FFBA00;padding:0;display:flex;justify-content:center;align-items:center;font-size:15px;color:#000000;font-family: 'Poppins';}
.main-whoweare-wrap ul{margin-top:116px;gap:30px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.main-whoweare-wrap ul li{width:100%;height:231px;overflow:hidden;flex:1;}
.main-whoweare-wrap ul li a{border-radius:5px;background:rgba(0,0,0,.85);width:100%;height:231px;overflow:hidden;display:flex;justify-content:center;align-items:center;flex-direction: column}
.main-whoweare-wrap ul li a .sico{width:100%;height:auto;overflow:hidden;text-align:center;}
.main-whoweare-wrap ul li a .sname{width:100%;height:auto;overflow:hidden;text-align:center;font-size:14px;color:#fff;font-family: 'Poppins';margin-top:19px;line-height:20px;}
.main-whoweare-wrap ul li a .scate{margin-top:5px;width:100%;height:auto;overflow:hidden;text-align:center;font-weight:300;font-size:11px;color:#fff;font-family: 'Poppins';}

.main-services-wrap{padding-top:92px;padding-bottom:92px;width:100%;height:auto;overflow:hidden;background:#000000;}
.main-services-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:36px;color:#fff;font-family: 'Poppins';}
.main-services-wrap .mtit strong{font-size:36px;color:#FFBA00;font-family: 'Poppins';font-weight:bold;}
.main-services-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;font-size:15px;color:#fff;font-family: 'Poppins';}
.main-services-wrap ul{max-width:1150px;width:100%;height:auto;overflow:hidden;margin:59px auto 0 auto;}
.main-services-wrap ul li{width:343px;height:110px;overflow:hidden;margin:0 20px 0 20px;float:left;display:flex;justify-content:flex-start;align-items:flex-start;}
.main-services-wrap ul li .lt-item{width:80px;height:110px;overflow:hidden;position:relative;}
.main-services-wrap ul li .lt-item .sico{width:100%;height:auto;overflow:hidden;}
.main-services-wrap ul li .lt-item .snum{position:absolute;left:0;bottom:0;font-family: 'Poppins';font-size:35px;color:#fff;line-height:49px;}
.main-services-wrap ul li .rt-item{width:100%;flex:1;height:110px;overflow:hidden;}
.main-services-wrap ul li .rt-item .stit{width:100%;height:auto;overflow:hidden;font-size:14px;color:#FFBA00;font-family: 'Poppins';line-height:19px;}
.main-services-wrap ul li .rt-item .sdesc{width:100%;height:auto;overflow:hidden;font-size:12px;color:#fff;font-family: 'Roboto', 'Poppins';margin-top:17px;line-height:20px;}
.main-services-wrap ul li:nth-child(4),
.main-services-wrap ul li:nth-child(5),
.main-services-wrap ul li:nth-child(6){margin-top:78px;}

.main-generation-wrap{width:100%;height:211px;overflow:hidden;background:url(../image/bg/bg-main-generation.jpg) repeat-x center top;display:flex;justify-content:center;align-items:center;}
.main-generation-wrap .rela{margin:0 auto;max-width:1150px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-generation-wrap .rela img{display:flex;}
.main-generation-wrap .rela strong{display:flex;margin-left:10px;font-size:21px;color:#FFBA00;font-family: 'Poppins';font-weight:400;}
.main-generation-wrap .rela span{display:flex;margin-left:5px;font-size:21px;color:#fff;font-family: 'Poppins';}

.main-library-wrap{width:100%;height:auto;padding:120px 0;overflow:hidden;}
.main-library-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;line-height:55px;font-size:40px;color:#333333;font-family: 'Poppins';}
.main-library-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;font-size:15px;color:#666666;font-weight:300;font-family: 'Poppins';}
.main-library-wrap .swiper-container{width:100%;margin-top:80px;}
.main-library-wrap .swiper-container .swiper-slide{width:492px;}
.main-library-wrap .swiper-container .swiper-slide a{display:block;width:100%;height:495px;overflow:hidden;position:relative;opacity:.8;transition:all .5s;}
.main-library-wrap .swiper-container .swiper-slide .slide-item{width:100%;height:352px;overflow:hidden;background-size:cover !important;}
.main-library-wrap .swiper-container .swiper-slide .cont{width:calc( 100% - 64px - 31px );padding-left:31px;left:32px;bottom:0;position:absolute;height:213px;overflow:hidden;transition:all .5s;opacity:0;transform:translateY(20px);}
.main-library-wrap .swiper-container .swiper-slide .cont:before{content:"";width:11px;height:213px;overflow:hidden;display:block;background:#FFBF00;position:absolute;left:0;top:0;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo{margin-top:100px;width:100%;height:auto;overflow:Hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .upic{width:46px;height:46px;overflow:Hidden;border-radius:50%;background-size:cover !important;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .ucont{margin-left:8px;width:100%;height:auto;overflow:hidden;flex:1;}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .ucont .umail{width:100%;height:auto;overflow:hidden;font-size:17px;color:#333333;font-family: 'Poppins';}
.main-library-wrap .swiper-container .swiper-slide .cont .uinfo .ucont .udate{font-size:15px;color:#FFBF00;margin-top:4px;font-weight:300;width:100%;height:auto;overflow:hidden;font-family: 'Poppins';}
.main-library-wrap .swiper-container .swiper-slide .cont .desc{margin-top:10px;font-family: 'Poppins';width:100%;height:auto;overflow:Hidden;font-size:26px;color:#333333;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;}

.main-library-wrap .swiper-container .swiper-slide a:hover{opacity:1;}
.main-library-wrap .swiper-container .swiper-slide a:hover .cont{opacity:1;transform:translateY(0px);}

.main-recent-wrap{padding-top:115px;width:100%;height:auto;overflow:hidden;background:#000000;}
.main-recent-wrap .mtit{line-height:56px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:40px;color:#fff;font-family: 'Poppins';}
.main-recent-wrap .mtit strong{font-size:40px;color:#fff;font-family: 'Poppins';font-weight:bold;}
.main-recent-wrap ul{max-width:1505px;width:calc( 100% + 10px );height:auto;overflow:hidden;margin:98px auto auto;}
.main-recent-wrap ul li{float:left;width:291px;height:307px;overflow:Hidden;margin:10px 5px 0 5px;backgroud:#555555;}
.main-recent-wrap ul li a{width:291px;height:307px;overflow:Hidden;display:block;background-size:cover !important;}
.main-recent-wrap .btn-item-wrap{width:100%;height:auto;overflow:hidden;padding:72px 0 68px 0;display:flex;justify-content:center;align-items:center;}
.main-recent-wrap .btn-item-wrap button{display:flex;justify-content:center;align-items:center;border:0;width:237px;height:60px;border-radius:30px;background:#FFBA00;padding:0;font-size:14px;color:#000000;font-family: 'Poppins';}

.main-start-wrap{width:100%;height:211px;overflow:hidden;background:url(../image/bg/bg-main-start.jpg) repeat-x center top;display:flex;justify-content:center;align-items:center;}
.main-start-wrap .rela{width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.main-start-wrap .rela .sitem{width:600px;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-start-wrap .rela .sitem img{display:flex;}
.main-start-wrap .rela .sitem strong{display:flex;margin-left:10px;font-size:21px;color:#fff;font-family: 'Poppins';font-weight:bold;}
.main-start-wrap .rela .sitem span{display:flex;margin-left:5px;font-size:21px;color:#fff;font-family: 'Poppins';}
.main-start-wrap .rela button{display:flex;justify-content:center;align-items:center;width:160px;height:43px;overflow:hidden;border-radius:22px;border:1px solid #000000;background:#fff;padding:0;font-size:14px;color:#000000;font-family: 'Poppins';}

.main-contact-wrap{width:100%;height:auto;overflow:hidden;padding:94px 0 100px 0;}
.main-contact-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;line-height:39px;font-size:28px;color:#333333;font-family: 'Poppins';}
.main-contact-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:13px;line-height:19px;font-size:14px;color:#666666;font-family: 'Noto Sans KR';}
.main-contact-wrap .form-item-wrap{border-bottom:1px solid #ccc;width:791px;height:32px;overflow:hidden;margin:33px auto 0 auto;display:flex;justify-content:flex-start;align-items:flex-start;}
.main-contact-wrap .form-item-wrap .inp{border:0;width:100%;flex:1;height:32px;overflow:hidden;font-size:14px;color:#333;padding:0 9px;}
.main-contact-wrap .form-item-wrap button{width:40px;height:20px;border:0;background:transparent;padding:0;display:flex;justify-content:flex-start;align-items:center;}

.wrapper.sub header{top:0;}

.sub-header-wrap{padding-top:130px;width:1442px;height:auto;overflow:hidden;margin:0 auto;border-bottom:1px solid #000;padding-bottom:55px;}
.sub-header-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-family: 'Poppins';font-size:40px;color:#000;line-height:55px;}
.sub-header-wrap .mtit strong{font-family: 'Poppins';font-size:40px;color:#000;font-weight:bold;}
.sub-header-wrap ul{width:800px;height:47px;overflow:hidden;border:2px solid #000000;margin:20px auto 0 auto;background:#fff;display:flex;justify-content:flex-start;align-items:center;}
.sub-header-wrap ul li{width:100%;height:47px;overflow:Hidden;display:flex;justify-content:center;align-items:center;flex:1;position:relative;}
.sub-header-wrap ul li + li:before{content:"";width:2px;height:100%;overflow:hidden;display:block;background:#000;position:absolute;left:0;top:0;}
.sub-header-wrap ul li a{width:100%;height:47px;overflow:Hidden;display:flex;justify-content:center;align-items:center;font-size:14px;color:#000000;font-family: 'Poppins';}
.sub-header-wrap ul li a.on{font-weight:bold;color:#fff;background:#000;}
.sub-header-wrap .mdesc{margin-top:27px;line-height:22px;font-size:14px;color:#000;font-weight:300;width:100%;height:auto;overflow:hidden;text-align:center;font-family: 'Poppins';}

.list-page-wrap{position:relative;width:1442px;height:auto;overflow:hidden;margin:15px auto 0 auto;display:flex;justify-content:flex-start;align-items:flex-start;}
.list-page-wrap:before{content:"";width:1px;height:100%;overflow:hidden;display:block;background:#000;position:absolute;left:348px;top:15px;}
.list-page-wrap .lt-item{width:252px;height:auto;overflow:hidden;padding:0px 43px 0 43px;}
.list-page-wrap .lt-item .label{margin-top:20px;width:100%;height:auto;overflow:hidden;font-size:16px;color:#000000;text-decoration:underline;line-height:55px;}
.list-page-wrap .lt-item .rd-list{width:100%;height:auto;overflow:hidden;}
.list-page-wrap .lt-item .rd-list li{margin-top:10px;width:25%;float:left;height:auto;overflow:hidden;}
.list-page-wrap .lt-item .rd-list li label{display:flex;justify-content:flex-start;align-items:center;}
.list-page-wrap .lt-item .rd-list li label input{display:flex;}
.list-page-wrap .lt-item .rd-list li label span{display:flex;margin-left:10px;font-size:14px;color:#000000;font-weight:300;font-family: 'Poppins';}
.list-page-wrap .lt-item .stit{margin-top:15px;width:100%;height:auto;overflow:hidden;font-size:12px;color:#000000;font-family: 'Poppins';font-weight:300;}
.list-page-wrap .lt-item .chk-btn-wrap{gap:10px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.list-page-wrap .lt-item .chk-btn-wrap button{display:flex;justify-content:center;align-items:center;width:100%;flex:1;height:38px;border:2px solid #000;border-radius:8px;background:#fff;font-size:14px;color:#000000;font-family: 'Poppins';font-weight:300;}
.list-page-wrap .lt-item .chk-btn-wrap button.on{background:#000;color:#fff;}
.list-page-wrap .lt-item .chk-btn-wrap + .chk-btn-wrap{margin-top:7px;}
.list-page-wrap .rt-item{width:100%;flex:1;height:auto;overflow:hidden;padding:0 43px;}